---
import type { SvgComponent } from 'astro/types';
import { Image } from 'astro:assets';
import Button from '@/components/starwind/button';
import { ArrowRight } from '@lucide/astro';
import LoaderIcon from '@/icons/loader.svg';
import FocusIcon from '@/icons/focus.svg';
import RouterIcon from '@/icons/router.svg';
import ComponentIcon from '@/icons/component.svg';
import testStartImage from '@/assets/test-start.png';

interface Item {
  title: string;
  icon: SvgComponent;
  color: string;
}

const items: Item[] = [
  {
    icon: LoaderIcon,
    title: 'Мозг будто «завис»?',
    color: '#9FE5FF',
  },
  {
    icon: FocusIcon,
    title: 'Сложно сосредоточиться?',
    color: '#FDC4F7',
  },
  {
    icon: RouterIcon,
    title: 'Бросаете на полпути?',
    color: '#66EBD1',
  },
  {
    icon: ComponentIcon,
    title: 'Часто забываете важное?',
    color: '#FFE491',
  },
];
---

<section class="py-20">
  <div class="container">
    <div class="flex items-center justify-between gap-14 mb-8">
      <div class="max-w-3xl">
        <h1 class="text-4xl md:text-6xl font-semibold mb-5 leading-tight">Думаете, у вас СДВГ? Пройдите бесплатный тест за 2 минуты</h1>
        <p class="text-muted-foreground text-lg mb-8">Узнайте, есть ли у вас признаки синдрома дефицита внимания и получите персональные рекомендации</p>

        <div class="flex items-center gap-3">
          <Button>Пройти тест бесплатно <ArrowRight /></Button>
          <Button variant="outline"> Узнать больше</Button>
        </div>
      </div>
      <div>
        <Image src={import('@/assets/hero.png')} alt="Hero" />
      </div>
    </div>

    <div class="grid grid-cols-4 gap-4">
      {
        items.map((item) => (
          <div class="bg-card p-4 flex items-center gap-4 rounded-xl ring-border ring-1">
            <div class="size-10 grid place-items-center rounded-md" style={`background-color: ${item.color}`}>
              <item.icon />
            </div>
            <p class="font-semibold">{item.title}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>

