---
import '@/styles/main.css';
import { Font } from 'astro:assets';
import Header from '../components/app/Header.astro';
import Footer from '../components/app/Footer.astro';
---

<!doctype html>
<html lang="ru" class="scroll-smooth">
  <head>
    <Font cssVariable="--font-base" preload />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Astro Basics</title>
  </head>
  <body>
      <div class="flex flex-col min-h-screen">
        <Header />
        <main class="flex-auto">
          <slot />
        </main>
        <Footer />
      </div>
  </body>
</html>

<style is:global>
  body {
    font-family: var(--font-base);
  }
  section {
    scroll-margin-top: 5rem;
  }
</style>
